<div class="stars-container" (mousemove)="onMouseMove($event)">
  <div class="background-image" style="background: url('assets/backgrounds/space-background.jpg')"></div>
  <div class="shining-stars">
    <div
      class="shining-star"
      *ngFor="let star of stars"
      [style.top]="star.top + 'px'"
      [style.left]="star.left + 'px'"
      [style.width]="star.size + 'px'"
      [style.height]="star.size + 'px'"
      [style.opacity]="star.opacity"
      [style.background-color]="star.color"
      [class.hovered]="star.isHovered"
      [style.border-color]="star.color"
      [ngStyle]="{'box-shadow': star.isHovered ?  '0px 0 30px '+ Math.floor(star.size)+'px ' + 'rgba(' + star.red + ',' + star.green + ',' + star.blue + ', 0.8), 0 0 20px rgba(' + star.red + ',' + star.green + ',' + star.blue + ', 0.6)' : null}"
    >
  </div>
</div>
  <cw-hero-section></cw-hero-section>
</div>
